---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Aviso Legal | CIE Asesoría" theme="light">
    <main
        class="pt-32 pb-20 px-6 max-w-4xl mx-auto prose prose-brand-dark lg:prose-lg"
    >
        <h1 class="font-serif text-4xl mb-8 text-surface">Aviso Legal</h1>

        <hr class="border-gray-200 my-8" />

        <p class="lead">
            Se informa de modo expreso, preciso e inequívoco, tanto a los
            destinatarios del servicio como a los órganos competentes, de los
            siguientes aspectos relativos al prestador de servicios de la
            sociedad de la información:
        </p>

        <h3>DATOS DE IDENTIFICACIÓN</h3>
        <ul>
            <li>
                <strong>NOMBRE/DENOMINACIÓN SOCIAL:</strong> C.I.E. FUERTEVENTURA,
                S.L.
            </li>
            <li><strong>CIF/NIF:</strong> B76041508</li>
            <li>
                <strong>ACTIVIDAD/OBJETO SOCIAL:</strong> ASESORAMIENTO, GESTIÓN
                Y MEDIACIÓN
            </li>
            <li>
                <strong>DOMICILIO SOCIAL/PROFESIONAL:</strong> AVDA DE LA CONSITITUCION,
                3 – PLANTA 1 PUERTA 4 – GRAN TARAJAL – 35620 LAS PALMAS
            </li>
            <li><strong>TELÉFONO/FAX:</strong> 928 94 82 64 / 902 009 842</li>
            <li>
                <strong>DIRECCIÓN DE CORREO ELECTRÓNICO:</strong>
                <a href="mailto:rgpd@cieasesoria.es">rgpd@cieasesoria.es</a>
            </li>
            <li>
                <strong>DIRECCIÓN WEB:</strong>
                <a href="https://www.cieasesoria.com/" target="_blank"
                    >www.cieasesoria.com</a>
            </li>
            <li>
                <strong>DATOS DE INSCRIPCIÓN EN EL REGISTRO MERCANTIL:</strong> REGISTRO
                MERCANTIL PUERTO DEL ROSARIO, FOLIO 132, TOMO 142, HOJA INSCRIPCIÓN
                IF-6458
            </li>
        </ul>
    </main>
</Layout>
