---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Política de Privacidad | CIE Asesoría" theme="light">
    <main
        class="pt-32 pb-20 px-6 max-w-4xl mx-auto prose prose-brand-dark lg:prose-lg"
    >
        <h1 class="font-serif text-4xl mb-8 text-surface">
            Política de Privacidad
        </h1>
        <p class="lead">
            El objetivo de la Política de Privacidad y Protección de Datos de
            C.I.E. FUERTEVENTURA, S.L es proteger la información en internet y
            los datos que el usuario pueda introducir en la web, dando
            cumplimiento a la legislación vigente en esta materia (Ley Orgánica
            15/1999, de 13 de diciembre, de Protección de Datos de Carácter
            Personal (LOPD) y Ley 34/2002, de 11 de julio, de Servicio de la
            Sociedad de la Información y de Comercio Electrónico, así como sus
            normativas de desarrollo).
        </p>

        <p>
            El manejo y navegación por la página web así como la suscripción de
            los formularios que puedan contenerse en la misma, conllevará la
            aceptación por el usuario de esta Política de Privacidad y
            Protección de Datos.
        </p>

        <hr class="border-gray-200 my-8" />

        <h3>Uso y tratamiento de Datos de Carácter Personal</h3>
        <p>
            En cumplimiento de lo establecido en la LOPD, le informamos que los
            datos suministrados, así como aquellos datos derivados de su
            navegación, podrán ser almacenados en los ficheros titularidad de
            C.I.E. FUERTEVENTURA, S.L., quien accederá a los mismos con la única
            finalidad de atender su solicitud, gestionar el servicio solicitado
            y el mantenimiento de la relación que se establezca en los
            formularios que suscriba.
        </p>
        <p>
            Dichos ficheros se encuentran debidamente inscritos en la Agencia
            Española de Protección de Datos conforme a la legislación vigente y
            normativa de desarrollo.
        </p>
        <p>
            Adicionalmente, el usuario consiente el tratamiento de sus datos con
            la finalidad de enviarle comunicaciones comerciales y de cortesía
            relacionadas con nuestra entidad a través de teléfono, correo postal
            ordinario, fax, correo electrónico o medios de comunicación
            electrónica equivalentes.
        </p>
        <p>
            En caso de no autorizar el tratamiento de sus datos con la finalidad
            señalada en el párrafo/s anterior/es, el usuario podrá ejercer su
            derecho de oposición al tratamiento de sus datos en los términos y
            condiciones previstos más abajo en el apartado “Ejercicio de
            derechos”.
        </p>
        <p>
            C.I.E. FUERTEVENTURA, S.L., bajo su condición de responsable del
            tratamiento, queda obligado al cumplimiento de la normativa vigente
            en materia de protección de datos de carácter personal.
        </p>

        <h3>Medidas de Seguridad</h3>
        <p>
            C.I.E. FUERTEVENTURA, S.L ha implantado las medidas de seguridad de
            índole técnica y organizativas necesarias para garantizar la
            seguridad de sus datos de carácter personal y evitar su alteración,
            pérdida y tratamiento y/o acceso no autorizado, habida cuenta del
            estado de la tecnología, la naturaleza de los datos almacenados y
            los riesgos a que están expuestos, ya provengan de la acción humana
            o del medio físico o natural. Todo ello de conformidad con lo
            previsto en el art. 9 de la LOPD y el Título VIII del RLOPD.
        </p>
        <p>
            Asimismo, C.I.E. FUERTEVENTURA, S.L ha establecido medidas
            adicionales en orden a reforzar la confidencialidad e integridad de
            la información en su organización. Continuamente se mantiene la
            supervisión, control y evaluación de los procesos para asegurar el
            respeto a la privacidad de los datos.
        </p>
        <p>
            Ello no obstante, el usuario debe ser consciente de que las medidas
            de seguridad en internet no son invulnerables, de forma que C.I.E.
            FUERTEVENTURA, S.L.se exime de cualquier responsabilidad por
            aquellas prácticas en las que el usuario no asuma el nivel adecuado
            de seguridad ni la diligencia debida ni de sus consecuencias, así
            como de causas o daños provocados por terceros ajenos a C.I.E.
            FUERTEVENTURA, S.L.
        </p>

        <h3>
            Ejercicio de derechos: acceso, rectificación, cancelación y
            oposición
        </h3>
        <p>
            Aquellas personas físicas que hayan facilitado sus datos a C.I.E.
            FUERTEVENTURA, S.L podrán dirigirse a ella, con el fin de poder
            ejercitar gratuitamente sus derechos de acceso, rectificación,
            cancelación y oposición respecto de los datos incorporados en sus
            ficheros.
        </p>
        <p>
            El interesado podrá ejercitar sus derechos mediante comunicación por
            escrito dirigida a C.I.E. FUERTEVENTURA, S.L en la siguiente
            dirección: Avda. de la Constitución, 3 planta 1 puerta 4 Gran
            Tarajal 35620 LAS PALMAS, con la referencia "RGPD” especificando sus
            datos, acreditando su identidad (necesario adjuntar copia de su DNI
            o pasaporte u otro documento acreditativo de su identidad) y los
            motivos de su solicitud. También podrá ejercitar sus derechos a
            través del correo electrónico <a href="mailto:cieasesoria@gmail.com"
                >cieasesoria@gmail.com</a>
        </p>

        <h3>Menores de edad</h3>
        <p>
            Los servicios que presta este sitio web no se dirigen a menores de
            14 años, de forma que no deben facilitarse datos de estas personas
            y, en caso de facilitarse, se procederá a su destrucción por C.I.E.
            FUERTEVENTURA, S.L en cuanto tenga conocimiento de ello. C.I.E.
            FUERTEVENTURA, S.L se exime de cualquier responsabilidad en caso de
            que se incumpla esta condición de utilización del servicio.
        </p>
    </main>
</Layout>
