---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Términos de Servicio | CIE Asesoría" theme="light">
    <main
        class="pt-32 pb-20 px-6 max-w-4xl mx-auto prose prose-brand-dark lg:prose-lg"
    >
        <h1 class="font-serif text-4xl mb-8 text-surface">
            Términos de Servicio
        </h1>
        <p class="lead">Condiciones de utilización de la web.</p>

        <hr class="border-gray-200 my-8" />

        <p>
            Los usuarios garantizan y responden, en cualquier caso, de la
            veracidad, exactitud, vigencia y autenticidad de los datos
            personales proporcionados, comprometiéndose a mantenerlos
            debidamente actualizados.
        </p>
        <p>
            En caso de que en la solicitud se incluyeran datos de carácter
            personal por personas que no sean titulares de los mismos, el
            usuario deberá, con carácter previo a su inclusión, informar a
            dichas personas sobre la Política de Privacidad y Protección de
            Datos de C.I.E. FUERTEVENTURA, S.L.
        </p>
        <p>
            C.I.E. FUERTEVENTURA, S.L se exime de cualquier responsabilidad
            derivada del incumplimiento de este requisito por los usuarios.
        </p>
        <p>
            El Usuario se compromete a utilizar el website y los Servicios de
            conformidad con la ley, el presente Aviso Legal, las Condiciones
            Particulares de algunos Servicios y con la moral, las buenas
            costumbres generalmente aceptadas y el orden público.
        </p>
        <p>
            El Usuario se abstendrá de utilizar cualquiera de los Servicios con
            fines o efectos ilícitos, prohibidos en el presente Aviso Legal,
            lesivos de los derechos e intereses de terceros o que de cualquier
            forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la
            normal utilización de los Servicios, los equipos informáticos o los
            documentos, archivos y toda clase de contenidos almacenados en
            cualquier equipo informático (hacking) de C.I.E. FUERTEVENTURA, S.L,
            de otros Usuarios o de cualquier Usuario de Internet (hardware y
            software).
        </p>

        <h3>Prohibiciones</h3>
        <p>
            A título meramente indicativo y no exhaustivo, el Usuario se
            compromete a no transmitir, difundir o poner a disposición de
            terceros informaciones, datos, contenidos, mensajes, gráficos,
            dibujos, archivos de sonido y/o imagen, fotografías, grabaciones,
            software y, en general, cualquier clase de material que:
        </p>
        <ul>
            <li>
                Sea contrario o atente contra los derechos fundamentales y las
                libertades públicas reconocidas constitucionalmente o en el
                resto de legislación.
            </li>
            <li>
                Sea contrario al derecho al honor, a la intimidad personal y
                familiar o a la propia imagen de las personas.
            </li>
            <li>
                Constituya publicidad ilícita, engañosa o desleal o de cualquier
                forma constituya competencia desleal.
            </li>
            <li>
                Incorpore virus u otros elementos físicos o electrónicos que
                puedan dañar o impedir el normal funcionamiento de la red, del
                sistema o de equipos informáticos (hardware y software) de
                C.I.E. FUERTEVENTURA, S.L o de terceros.
            </li>
            <li>
                Provoque dificultades en el normal funcionamiento del servicio.
            </li>
            <li>
                Incite, induzca o promueva actuaciones delictivas,
                denigratorias, infamantes, violentas o contrarias a la ley, a la
                moral, a las buenas costumbres o al orden público.
            </li>
            <li>
                Incite, induzca o promueva actuaciones o actitudes
                discriminatorias por razón de sexo, raza, religión, creencias,
                edad o condición.
            </li>
            <li>
                Ponga a disposición, incorpore o permita acceder a productos,
                elementos, mensajes y/o servicios delictivos, violentos,
                ofensivos o contrarias a la ley, a la moral, a las buenas
                costumbres o al orden público.
            </li>
            <li>
                Se encuentre protegido por derechos de propiedad intelectual o
                industrial pertenecientes a terceros, sin que el Usuario haya
                obtenido previamente de sus titulares la autorización necesaria.
            </li>
            <li>Viole los derechos empresariales de terceros.</li>
        </ul>

        <h3>Áreas de acceso restringido</h3>
        <p>
            Para entrar en las áreas de acceso restringido, los usuarios deberán
            disponer de las claves de acceso correspondientes. C.I.E.
            FUERTEVENTURA, S.L se reserva el derecho de aceptar o rechazar
            libremente la solicitud de registro de cualquier usuario. Los datos
            introducidos por los usuarios deberán ser exactos, actuales, veraces
            y serán procesados y tratados en cumplimiento de la legislación
            vigente en materia de protección de datos personales.
        </p>
        <p>
            Los usuarios serán responsables en todo caso de la custodia de sus
            claves de acceso, por lo que serán de su exclusiva responsabilidad
            cualesquiera daños y perjuicios que pudieran derivarse de un uso
            indebido de la misma, así como de su extravío o cualquier otra
            circunstancia que pudiera suponer un riesgo de acceso de utilización
            de la misma por terceros no autorizados. Los usuarios deberán
            comunicarlo inmediatamente a C.I.E. FUERTEVENTURA, S.L para que esta
            proceda al bloqueo y sustitución de la misma.
        </p>

        <h3>Formularios</h3>
        <p>
            En aquellos casos en los que para realizar una solicitud, sea
            necesario cumplimentar un formulario y hacer “click” en el botón de
            enviar, la realización del mismo implicará necesariamente que el
            usuario se da por informado y otorga expresamente su consentimiento
            y aceptación de esta Política de Privacidad y Protección de Datos.
        </p>

        <h3>Propiedad intelectual</h3>
        <p>
            Todos los elementos que integran el diseño gráfico de los websites,
            los menús, botones de navegación, el código HTML, y, en general,
            todos los contenidos e información a los que el Usuario pueda
            acceder a través de las páginas web de C.I.E. FUERTEVENTURA, S.L
            están sujetos a derechos de propiedad industrial e intelectual,
            patentes, marcas o copyright de SJ o de terceros titulares de los
            mismos. Queda expresamente prohibida para el Usuario la alteración,
            modificación, explotación, reproducción, distribución o comunicación
            pública o cualquier otro derecho que corresponda al titular del
            derecho afectado.
        </p>

        <h3>Modificación de la política de privacidad</h3>
        <p>
            C.I.E. FUERTEVENTURA, S.L se reserva el derecho a modificar su
            Política de Privacidad, de acuerdo a su propio criterio, o motivado
            por un cambio legislativo, jurisprudencial o doctrinal de la Agencia
            Española de Protección de Datos.
        </p>
        <p>
            Cualquier modificación de la Política de Privacidad será publicada
            al menos 7 días antes de su efectiva aplicación. El uso de la Web
            después de dichos cambios, implicará la aceptación de estos.
        </p>
    </main>
</Layout>
